# Ignore everything by default
*

# But not these files/directories (need ** for files inside directories)
!data/
!data/**/*
!fonts/
!fonts/**/*
!js/
!js/**/*
!audio/
!audio/**/*
!img/
!img/**/*
!editor.html
!index.html

# Also keep gitignore
!.gitignore
